.about-page {
	position: relative;
	float: left;
    overflow-x: clip;
    overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	width: 30vw;
	height: 100%;
}
.about-page::-webkit-scrollbar {
	display: none;
}
.about-page span {
	color: white;
}
.about-page a {
	color: #bfcbff;
}
@media screen and (orientation:landscape) {
	.about-page {
		padding-top: 50px;
		padding-left: 50px;
		text-align: justify;
	}
	.about-page .social-icon img {
		padding-top: 20px;
	}
}
@media screen and (orientation:portrait) {
	.about-page {
		width: 90vw;
		padding-top: 10px;
		padding-left: 20px;
		text-align: left;
	}
	.about-page h1 {
		font-size: 18px;
	}
	.about-page span {
		font-size: 12px;
	}
	.about-page .social-icon img {
		padding-top: 20px;
	}
}

.social-icon img {
	width: 24px;
	height: 24px;
	padding: 5px;
}
