.explore-menu {
	position: relative;
	float: left;
  overflow-x: clip;
  overflow-y: scroll;
/*	-ms-overflow-style: none;
	scrollbar-width: none;*/
}
.explore-menu h1 {
	padding-left: 30px;
	padding-bottom: 10px;
}
/*.explore-menu::-webkit-scrollbar {
	display: none;
}*/
.explore-menu .bird-family {
	float: left;
	position: relative;
	height: 100%;
	margin-top: 5px;
	cursor: pointer;
}
.explore-menu .bird-family span {
	position: absolute;
	bottom: 5px;
	color: white;
	opacity: 1;
}
.explore-menu .bird-family, .explore-menu .bird-family img {
	overflow: hidden;
	background-color: black;
}
.explore-menu .bird-family img {
	position: relative;
	object-fit: cover;
	opacity: 0.5;
}
.explore-menu .bird-family, .explore-menu .bird-family img, .explore-menu .bird-family span {
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -ms-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease; 
}
.explore-menu .bird-family:hover, .explore-menu .bird-family:hover img {
	opacity: 1;
}
@media screen and (orientation:landscape) {
	.explore-menu {
		width: 40vw;
		height: calc(100% - var(--header-height) - 25px);
	}
	.explore-menu.expanded {
		width: 90vw;
	}
	.explore-menu .bird-family {
		margin-right: 5px;
	}
	.explore-menu .bird-family, .explore-menu .bird-family img {
		height: 80px;
		width: 400px;
	}
	/*.explore-menu .bird-family:hover, */.explore-menu .bird-family:hover img {
		height: 200px;
		/*width: 450px;*/
		position: absolute;
		transform: translateY(-60px)/* translateX(-1vw)*/;
	}
	.explore-menu .bird-family:hover {
		overflow: visible;
		z-index: 1;
	}
	/*.explore-menu .bird-family:hover + .bird-family, .explore-menu .bird-family:hover  + .bird-family img {
		height: 100px;
		width: 31vw;
	}*/
	.explore-menu .bird-family span {
		padding-left: 20px;
		font-size: 20px;
		font-weight: bold;
	}
}
@media screen and (orientation:portrait) {
	.explore-menu {
		width: 100vw;
		height: calc(100% - var(--header-height) - 25px);
	}
	.explore-menu .bird-family, .explore-menu .bird-family img {
		height: 60px;
		width: 100vw;
	}
	.explore-menu .bird-family span {
		padding-left: 10px;
		font-size: 24px;
		font-weight: normal;
	}
}