.map-menu {
  overflow-x: clip;
  overflow-y: scroll;
	padding-top: 20px;
	margin-left: 230px;
		-ms-overflow-style: none;
	scrollbar-width: none;
}
.map-menu .location-list {
  overflow-x: clip;
  overflow-y: scroll;
		-ms-overflow-style: none;
	scrollbar-width: none;
	padding-top: 20px;
	padding-bottom: 50px;
}
.map-menu::-webkit-scrollbar, .map-menu .location-list::-webkit-scrollbar {
	display: none;
}
.map-menu .location-list button {
	z-index: 1;
}
.map-menu .location-list button {
	border-radius: 0 !important;
	font-size: 16px !important;
}


button.right-pane-button:before {
	content: "☰";
	min-width: 14px;
}
button.right-pane-button.button-active:before {
	content: "✕";
}

.right-pane {
	display: block;
	position: fixed;
	top: calc(var(--header-height) + var(--header-padding) - 5px);
	right: 0;
	width: 35%;
	height: calc(100% - var(--header-height) - var(--header-padding) + 5px);
	background-color: #1a2735;
	padding-left: 40px;
	padding-right: 20px;
	overflow-y: scroll;
}

.right-pane button,
.location-list button {
	display: block;
	width: fit-content;
	margin-bottom: 2px;
	background-color: #2f4054;
	color: white;
	opacity: 1;
	font-size: 14px;
	font-weight: normal;
	border-radius: 0.5rem;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 1;
}

.right-pane button span,
.location-list button span {
	display: inline-block;
 }
.right-pane button span.count, .right-pane h1 span.count,
.location-list button span.count, .location-list h1 span.count {
	margin-left: 10px;
	color: #aaaaaa;
	font-weight: normal;
}
.right-pane button span.count:before, .right-pane h1 span.count:before,
.location-list button span.count:before, .location-list h1 span.count:before {
	content: "(";
}
.right-pane button span.count:after, .right-pane h1 span.count:after,
.location-list button span.count:after, .location-list h1 span.count:after {
	content: ")";
}

.location-list button.country {
	margin-left: 0px;
	background-color: #233345;
}
.location-list button.state {
	margin-left: 50px;
	background-color: #324253;
}
.location-list button.city {
	margin-left: 100px;
	background-color: #405163;
}
.location-list button.place {
	margin-left: 150px;
	background-color: #536375;
}


.location-list button:hover,
.right-pane button:hover {
	background-color: white;
	color: black;
}

.right-pane div.families {
	display: inline-block;
	width: 300px;
}
.right-pane div.species {
	display: inline-block;
	width: 230px;
}
