button.right-pane-button:before {
	content: "☰";
	min-width: 14px;
}
button.right-pane-button.button-active:before {
	content: "✕";
}

.right-pane {
	display: block;
	position: fixed;
	top: calc(var(--header-height) + var(--header-padding) - 5px);
	right: 0;
	width: max(50%, 500px);
	height: calc(100% - var(--header-height) - var(--header-padding) + 5px);
	background-color: #1a2735;
	padding-left: 40px;
	padding-right: 20px;
	overflow-y: scroll;
/*	-ms-overflow-style: none;
	scrollbar-width: none;*/
	/*border-left: 5px solid #405268;*/
}
/*.right-pane::-webkit-scrollbar {
	display: none;
}*/

.right-pane button {
	display: block;
	width: fit-content;
	margin-bottom: 2px;
	background-color: #2f4054;
	color: white;
	opacity: 1;
	font-size: 14px;
	font-weight: normal;
	border-radius: 0.5rem;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 1;
}

.right-pane button span {
	display: inline-block;
 }
.right-pane button span.count, .right-pane h1 span.count {
	margin-left: 10px;
	color: #aaaaaa;
	font-weight: normal;
}
.right-pane button span.count:before, .right-pane h1 span.count:before {
	content: "(";
}
.right-pane button span.count:after, .right-pane h1 span.count:after {
	content: ")";
}

.right-pane button.country {
	margin-left: 0px;
	background-color: #233345;
}
.right-pane button.state {
	margin-left: 50px;
	background-color: #324253;
}
.right-pane button.city {
	margin-left: 100px;
	background-color: #405163;
}
.right-pane button.place {
	margin-left: 150px;
	background-color: #536375;
}

/*.right-pane .hierarchy {
	position: absolute;
	display: inline-block;
	height: 28px;
	padding-left: 20px;
	border-left: 1px solid grey;
	border-bottom: 1px dotted grey;
	border-image-source: linear-gradient(to top, grey, transparent);
	border-image-slice: 1;
	transform: translate(10px, calc(-100% + 15px));
}
.right-pane .hierarchy.l1 {
	margin-left: 20px;
}
.right-pane .hierarchy.l2 {
	margin-left: 70px;
}
.right-pane .hierarchy.l3 {
	margin-left: 120px;
}*/

.right-pane button:hover {
	background-color: white;
	color: black;
}

.right-pane div.families {
	display: inline-block;
	width: 300px;
}
.right-pane div.species {
	display: inline-block;
	width: 230px;
}
