.videos {
	position: relative;
	float: left;
	left: 60vw;
	padding-top: 20px;
	padding-left: 50px;
	opacity: 0;
}

.videos.expanded {
	opacity: 1;
}
@media screen and (orientation:landscape) {
	.videos.expanded {
		left: 10vw;
	}
}

.videos .video {
	margin-bottom: 50px;
}

.videos .video iframe {
	width: 800px;
	height: 450px;
}

@media screen and (orientation:portrait) {
	.videos {
		left: 0;
		padding-left: 5vw;
	}
	.videos, .videos .video iframe {
		width: 90vw;
	}
}